@using (Html.BeginForm())
@using GestionImpresoras.Models;
@model Solicitud
@{
        ViewData["Title"] = "Borrar Solicitud";
}
<h1>Borrar Solicitud</h1>
<h3>¿Estás seguro de que deseas borrar esta Solicitud?</h3>
<hr />
@Html.AntiForgeryToken()
<input type="hidden" asp-for="Id" value="@Model.Id" class="Solicitud" />
<img class="rounded foat-left" hidden id="imagenToShow" alt="Imagen Seleccionada" />
<form asp-action="Borrar" asp-controller="Solicitudes" method="post" enctype="multipart/form-data">
    <!---  Para Lista de Impresoras   -->
    <div class="mb-3 form-group">
        <label asp-for="ImpresoraId" class="form-label">Impresora</label>
        <select class="form-select form-select sm" asp-for="ImpresoraId" asp-items="ViewBag.ImpresoraId" disabled>
            <option> --- Seleccionar Impresora --- </option>
        </select>
        <span asp-validation-for="ImpresoraId" class="text-danger"></span>
    </div>
    <!--- Para Lista de Estado de Solicitud   -->
    <div class="mb-3 form-group">
        <label asp-for="EstadoSolicitudId" class="form-label">Estado</label>
        <select class="form-select form-select sm" asp-for="EstadoSolicitudId" asp-items="ViewBag.EstadoSolicitudId" disabled>
            <option> --- Seleccionar Estado --- </option>
        </select>
        <span asp-validation-for="EstadoSolicitudId" class="text-danger"></span>
    </div>
    <!--- Para Solicitante   -->
    <div class="mb-3 form-group">
        <label asp-for="Solicitante" class="form-label">Solicitante</label>
        <input type="text" asp-for="Solicitante" class="form-control" readonly />
        <span asp-validation-for="Solicitante" class="text-danger"></span>
    </div>
    <!--- Para Detalles  -->
    <div class="mb-3 form-group">
        <label asp-for="Detalle" class="form-label">Detalles de la solicitud</label>
        <input type="text" asp-for="Detalle" class="form-control" readonly />
        <span asp-validation-for="Detalle" class="text-danger"></span>
    </div>
    <!--- Para Imagenes de documentación  -->
    <div class="mb-3 form-group">
        <label asp-for="UrlImagen" class="form-label">Imagenes para documentar</label>
        <input type="file" asp-for="UrlImagen" class="form-control " name="UrlImagen" id="UpImagen" readonly />
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--- Para Lista de Color Solicitado   -->
            <div class="mb-3 form-group">
                <label asp-for="ColorId" class="form-label">Color</label>
                <select class="form-select form-select sm" asp-for="ColorId" asp-items="ViewBag.ColorId" disabled>
                    <option> --- Seleccionar Color --- </option>
                </select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>
            <!--- Para Lista de Medio Solicitado   -->
            <div class="mb-3 form-group">
                <label asp-for="MedioId" class="form-label">Medio</label>
                <select class="form-select form-select sm" asp-for="MedioId" asp-items="ViewBag.MedioId" disabled>
                    <option> --- Seleccionar Color --- </option>
                </select>
                <span asp-validation-for="MedioId " class="text-danger"></span>
            </div>
            <!---  Para Lista de Fecha de Solicitud   -->
            <div class="mb-3 form-group">
                <label asp-for="FechaSolicitud" class="form-label">Fecha Solicitud</label>
                <input type="date" asp-for="FechaSolicitud" class="form-control" readonly />
                <span asp-validation-for="FechaSolicitud" class="text-danger"></span>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(@Model.UrlImagen))
        {
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <div class="mb-3 form-group text-center" style="text-align: center;">
                    <div class="imagen-container text-center" style="border: 1px solid black; margin: auto;">
                        <img src="@Model.UrlImagen" alt="Imagen de soporte" class="imagen-soporte" style="margin: auto; width: 100%; height: 100%; object-fit: contain;" />
                    </div>
                    <label class="form-label">Image de Soporte @Model.UrlImagen</label>
                </div>
            </div>
        }
    </div>
    <!---------------  Botones summit y cancelar  ------------->
    <button type="submit" class="btn btn-primary"><i class="bi bi-eraser"></i> Borrar</button>
    <a class="btn btn-secondary" asp-action="Index"><i class="bi bi-stop-circle"> Cancelar</i></a>
</form>
@section Scripts {
    @{
       await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<style>
    .imagen-container {
        width: 400px;
        height: 400px;
        object-fit: contain;
        display: flex;
        justify-content: center !important;
        align-items: center !important;
    }

    .imagen-soporte {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
        border: 1px solid #bbb9b9;
    }
</style>
}
