@using GestionImpresoras.DTOs;
@using GestionImpresoras.Models;
@model IEnumerable<SolicitudShowDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-center">Listado de Solicitudes con Azure DevOps</h1>
<div class="row">
    <div class="offset-9 col-3 mb-3">
        <div class="float-right">
            <a asp-action="Create" asp-controller="Solicitudes" class="btn btn-success d-block mx-auto btn-lg">
                <i class="bi bi-folder-plus mr-2"></i>&nbsp;&nbsp; Nueva Solicitud
                @*<i class="bi bi-file-plus"></i> Nueva Solicitud  *@
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Listado de @Model.Count() Solicitudes</strong></h3>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model.Count() > 0)
                {
                    <table class="table table-bordered" id="tablaImpresoras" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.Solicitud.Impresora.CodigoActivoFijo)</th>
                                <th>@Html.DisplayNameFor(m => m.Solicitud.EstadoSolicitud.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Solicitud.Color.Nombre)</th>
                                <th>@Html.DisplayNameFor(m => m.Solicitud.FechaSolicitud)</th>
                                <th>@Html.DisplayNameFor(m => m.Solicitud.Solicitante)</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Solicitud.Impresora.CodigoActivoFijo</td>
                                    <td>@item.Solicitud.EstadoSolicitud.Nombre</td>
                                    <td>@item.Solicitud.Color.Nombre</td>
                                    <td>@item.Solicitud.FechaSolicitud?.ToString("dd/MM/yyyy")</td>
                                    <td>@item.Solicitud.Solicitante</td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Solicitud.Id">
                                            <i class="bi bi-pencil"></i> Editar
                                        </a>
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Solicitud.Id">
                                            <i class="bi bi-eye"></i> Ver
                                        </a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Solicitud.Id">
                                            <i class="bi bi-trash3"></i> Borrar
                                            <!---------------  "<i class="bi bi-eraser"></i>"  ------------->
                                        </a>
                                        @*
                                <a class="btn btn-warning" asp-action="ChangeStatus" asp-route-id="@item.Id">
                                <i class="bi bi-check2-square"></i> Estado
                                <!---------------  "<i class="bi bi-arrow-repeat"></i>"  ------------->
                                </a>
                                *@
                                        @if (!item.EnEstadoMaximo)
                                        {
                                            <a class="btn btn-warning" asp-action="ChangeStatus" asp-route-id="@item.Solicitud.Id">
                                                <i class="bi bi-check2-square"></i> Estado
                                            </a>
                                        }
                                        else
                                        {
                                            <button class="btn btn-warning" disabled>
                                                <i class="bi bi-check2-square"></i> Estado
                                            </button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p>No hay registros</p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tablaImpresoras').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}
